######################################
# Framework Configuration
######################################

TEST_ENV=dev

#
# chrome | firefox
#
BROWSER=chrome

#
# Browser Window Size
#

WINDOW_WIDTH=1920
WINDOW_HEIGHT=1080

#
# true | false
#
HEADLESS=false

#
# true  = Selenium Grid
# false = Local Native Browser
#
USE_GRID=false

#
# Selenium Grid Host
#
SELENIUM_HOST=localhost

#
# Selenium Grid Port
#
SELENIUM_PORT=4444

#
# Parallel execution
#
MAX_INSTANCES=2

#
# Logging
#
LOG_LEVEL=info

#
# Timeout
#
WAIT_FOR_TIMEOUT=10000

STEP_TIMEOUT=60000

#
# Cucumber Tags
#
TAGS=

######################################
# Jira Secret / Runtime
######################################

JIRA_BASEURL=https://astraapps.astra.co.id/jira-software

JIRA_USERNAME=

JIRA_PASSWORD=

PROJECT_KEY=

PROJECT_TCM_KEY=

PARENT_ISSUE_KEY=

TEST_EXECUTION_KEY=

SUMMARY_EXECUTION='DEFAULT VALUE TEST EXECUTION'

######################################
# Grafana Observability Stack
######################################

#
# Toggle Grafana integration
#
GRAFANA_ENABLED=true

#
# Prometheus Pushgateway URL
#
PUSHGATEWAY_URL=http://localhost:9091

#
# Grafana Loki URL
#
LOKI_URL=http://localhost:3100

#
# Project identifier
#
PROJECT_NAME=saucedemo
